﻿@model Hengke.Cheque

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cheque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dollars)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dollars)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DollarWords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DollarWords)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
