﻿@using Zoombraco.Models
@using Zoombraco.Views
@inherits ZoombracoViewPage<RenderPage<ZoombracoDemo.Logic.Models.ChequeDetails>>
@{ Html.RenderPartial("~/Views/Partials/Shared/_HeroPanel.cshtml", Model.Content);}
<h1>@Model.Content.Name</h1>
<h2>Cheque Details</h2>
@{ Html.RenderPartial("~/Views/Partials/Shared/_NestedContent.cshtml", Model.Content);}
@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cheque</title>
</head>
<body>
    <div> 

        <h2>Cheque Details</h2>

    </div>
</body>
</html>*@
